<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome admin</title>
</head>

<body>
<form th:object="${user}">
    <table>
        <tr>
            <td>Welcome Admin</td>
        </tr>
        <tr>
        </tr>
        <table align="right">
            <tr>
                <td><a th:href="@{/userportal}">User Portal</a></td>
                <td><a th:href="@{/logout}">Logout</a></td>
            </tr>
        </table>
    </table>
</form>
</body>
</html>