<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration Process</title>
    <script>
      function resetTexts() {
          document.getElementById("name").value="";
          document.getElementById("email").value="";
          document.getElementById("username").value="";
          document.getElementById("password").value="";
          return false;
        }
</script>
</head>

<body>
<form th:action="@{/registerProcess}" th:object="${user}" method="POST">
    <table align="center" bgcolor="#FFCA33">
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" name="name" id="name" placeholder="Name"/>
            </td>
            <td class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="text" name="email" id="email" placeholder="Email"/>
            </td>
            <td class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>
                <input type="text" name="username" id="username" placeholder="UserName"/>
            </td>
            <td class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type="password" name="password" id="password" placeholder="Password"/>
            </td>
            <td class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="msg" align="center">
                    <p class="error" th:text="${message}"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Register"/>
                <input type="button" onclick="resetTexts()" value="Reset"/>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/user-registration-boot}">Home</a>
            </td>
        </tr>
    </table>

</form>
</body>
</html>