<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration update Process</title>
    <script>
      function validate() {
         var password = document.getElementById("password").value;
         var repeatpassword = document.getElementById("repeatpassword").value;
         if(password !== repeatpassword){
            alert("'Password' and 'Re-Enter Password' should match");
            return false;
         }
      }
      function resetTexts() {
        document.getElementById("name").value="";
        document.getElementById("email").value="";
        document.getElementById("password").value="";
        document.getElementById("repeatpassword").value="";
        return false;
      }
</script>
</head>

<body>
<form th:action="@{/updateProcess}" th:object="${user}" method="POST" onsubmit="return validate()">
    <table align="center" bgcolor="#FFCA33">
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" name="name" id="name" placeholder="Name"/>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="text" name="email" id="email" placeholder="Email"/>
            </td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>
                <input type="text" th:value="${user.username}" th:field="*{username}" readonly="true"/>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type="password" name="password" id="password" placeholder="Password"/>
            </td>
        </tr>
        <tr>
            <td>Re-Enter Password:</td>
            <td><input type="text" name="repeatpassword" id="repeatpassword" placeholder="Password"/></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Register"/>
                <input type="button" onclick="resetTexts()" value="Reset"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><a th:href="@{/userportal}">User Portal</a></td>
        </tr>
    </table>

</form>
</body>
</html>